.get-in-touch{
    background-image:url('/img/services/get-in-touch.png');
    height:498px;
    h2{
        color:#48555B;
        text-align:center;
        padding-top:120px;
        margin-bottom:35px;
    }
}
.btn{
    display:flex;
    justify-content:center;
    align-items:center;
}
