.nav{
    border-bottom:1px solid #E6E6E6;
    margin-bottom:58px;
}
.nav-content{
    padding: 24px 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.nav-bar ul{
    display:flex;
    gap:30px;
    text-transform:uppercase;
    list-style-type: none;
}
.nav-items{
    color:$text-main;
    font-size:12px;
    transition: all .2s ease-in;
}
.active{
    color:$text-btn;
}
.nav-items:hover, .nav-items:active{
    color:$text-btn;
}